@page
@model internRegistration.Pages.CsharpexploreModel
@{
}

<style>

    body {
        background-image: url("./backgroundexpages.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

</style>

<br />

<div class="container-fluid">
    <div>

    </div>
</div>
