@page
@model internRegistration.Pages.PrivacyModel
@{
}

<br />

<div class="container-fluid">
    <h2>Privacy Policy</h2>
    <p>
        Thank you for considering <b>Intern Register</b> as a potential employer or internship provider. We value your privacy and are
        committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and
        safeguard your personal data during the application and hiring process. Please read this policy carefully to understand
        how we handle your information.
    </p>

    <p>
        By submitting your application and personal information to us, you consent to the practices described in
        this Privacy Policy.
    </p>

    <div>
        <ol>
            <li>
                <h5>Information We Collect</h5>
                <p>
                    We may collect the following types of personal information during the application and hiring process:
                    <ol>
                        <li><b>Contact Inforrmation:</b>This includes your name, address, phone number, and email address.</li>
                        <li><b>Professional Information:</b>This includes your resume, cover letter, references, work history, education history, skills, and qualifications.</li>
                        <li><b>Application Details:</b>Information provided in response to application questions, assessments, and any other documents or forms you submit as part of your application.</li>
                        <li><b>Interview Information:</b> Any information collected during interviews, including notes, feedback, and assessments.</li>
                        <li><b>Background Check Information:</b> If required, we may collect information from background checks, including criminal records, credit checks, and other relevant data, subject to applicable laws.</li>
                        <li><b>Sensitive Information:</b>In certain cases, we may collect sensitive information, such as gender, race, ethnicity, disability status, or veteran status, for affirmative action or equal employment opportunity purposes. Providing this information is voluntary, and you may choose not to disclose it.</li>
                        <li><b>Communication Records:</b>Records of email correspondence, phone calls, and other communications between you and Intern Register during the application process.</li>
                    </ol>
                </p>
            </li>

            <li>
                <h5>How We Use Your Information</h5>
                <p>
                    We use the collected information for the following purposes:

                    <ol>
                        <li><b>Application Processing:</b>To evaluate your qualifications and consider you for available positions or internships.</li>
                        <li><b>Communication:</b>To contact you regarding your application, interviews, and job offers.</li>
                        <li><b>Background Checks:</b>To conduct background checks, where applicable and in compliance with relevant laws.</li>
                        <li><b>Statistical Analysis:</b> To compile aggregate, non-identifiable data for internal reporting and statistical analysis to improve our hiring processes.</li>
                        <li><b>Compliance:</b>  To comply with legal obligations and regulatory requirements, including equal opportunity employment laws.</li>
                        <li><b>Security:</b> To protect against fraudulent or unauthorized access to our systems.</li>
                    </ol>
                </p>
            </li>

            <li>
                <h5>Information Sharing</h5>
                <p>
                    We may share your personal information with the following parties:
                    <ol>
                        <li><b>Company Personnel:</b> Authorized employees and hiring managers who are involved in the hiring process.</li>
                        <li><b>Third-Party Service Providers:</b> We may engage third-party service providers to assist with application processing, background checks, or other hiring-related activities.</li>
                        <li><b>Legal Requirements:</b>When required by law, we may disclose your information to law enforcement agencies, government authorities, or regulators.</li>
                    </ol>
                </p>
            </li>

            <li>
                <h5>Data Security</h5>
                <p>
                    We employ reasonable security measures to protect your personal information from unauthorized access, disclosure,
                    alteration, or destruction. However, no data transmission over the internet or electronic storage is entirely
                    secure, and we cannot guarantee absolute security.
                </p>
            </li>

            <li>
                <h5>Your Rights</h5>
                <p>
                    You have the right to:
                    <ul>
                        <li>Access and request a copy of your personal information held by Intern Register.</li>
                        <li>Correct inaccuracies in your personal information.</li>
                        <li>Request the deletion of your personal information, subject to legal obligations.</li>
                        <li>Withdraw your consent for the processing of your personal information.</li>
                    </ul>
                </p>
            </li>

            <li>
                <h5>Changes to the Privacy Policy</h5>
                <p>
                    We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements.
                    We will notify you of any significant changes by posting the updated policy on our website or through other
                    appropriate means.
                </p>
            </li>

            <li>
                <h5>Contact Information</h5>
                <p>
                    If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please
                    contact us at:<br />
                    Intern Register <br />
                    Address <br />
                </p>
            </li>

        </ol>

        <p>
            By submitting your application to [Company Name], you acknowledge that you have read and understood this Privacy Policy
            and consent to the processing of your personal information as described herein.
        </p>
    </div>
</div>