html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: white;
}

footer {
    border-top: #DEDEDF solid 1px;
    background-color: white;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
}

footer li{
    list-style:  none;
}

footer .footer-content a {
    text-decoration: none;
    color: black;
}

footer .footer-content a:hover {
    color: #535DE4;
}

.iconsfooter{
    float:right;
}

.innav {
    color: #0B60D1;
}

.list ul
{
  list-style: none;
  display:inline;
}

.list a
{
    display:inline;
}